
//parallax rules go here
.parallax {
        background-attachment: fixed; 
}
.banner__image{  
        width:100%;
        height:650px;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center bottom;
        display:flex;   
        justify-content:center;
        align-items:center;
        overflow:hidden;
        flex-direction:column;
        padding:20px;
}


.banner__home__01 {background-image:url('../images/desktop_banners/banner_home_02.jpg');}
#home__image__01,
.default__banner__image {background-image:url('../images/desktop_banners/banner_home_02.jpg');}

.banner__home__02 {background-image:url('../images/desktop_banners/banner_home_01.jpg');}
.banner__home__03 {background-image:url('../images/desktop_banners/banner_home_02.jpg');}
.video-player {
        position:relative;
        width: 100%;
        height:100%;
        background-color:$dark-gry;
}

