nav {
    position:absolute;
    display: flex;
    left:0;
    width:100%;
    height:6rem;
    align-items:center;
    justify-content:flex-end;
    padding:0 12rem;
    background-color:$white;
    overflow-x:hidden;
    z-index:1;
    border-bottom:1px solid $gry;
  
    & #logo,
    & #logoWhite {
        position:absolute;
        left:0;
        display:flex;
        align-items:center;
        opacity:0;
        transition:opacity 0.1s;
        -webkit-transition:opacity 0.1s;

        & img {
            height:40px;
        }
    }
    & #logo.fadeIn,
    & #logoWhite.fadeIn{
        opacity:1;
        transition:opacity 0.1s;
        -webkit-transition:opacity 0.1s;
        left:0;
    }
    & a {
        text-decoration:none;
        color:$black;
        justify-content:end;
        margin:auto 2.5rem;
    }
    & .nav__links {
        font-size:1.6rem;
        font-weight:bold;
        &.selected,
        &:hover {
            color:$dark-gry;
        }
    }
    &.active {
        position:fixed;
        top:0;
        background-color:rgba($black,0.75);
        border-bottom:0;
        & > .desktop__only a {
            color:$white;
            &.selected {
                color: $primary;
            }
        }
        & > .mobile__only #mobile__menu__toggle {
            color:$white;
        }
    }
    .mobile__menu{
        display:none;
    }
    .mobile__menu__toggle .fas:hover,
    .mobile__menu.active #close:hover {
        cursor: pointer;
    }
    .mobile__menu__toggle {
        position: absolute;
        right: 3rem;
        top: 2rem;
        & > .mobile__menu.active {
            display:flex;
            position:fixed;
            top:0;
            left:0;
            z-index:99;
            width:100%;
            height:100%;
            background-color:$white;
            flex-direction:column;
            align-items:center;
            padding:80px 0;
            
            & > #close {
                position:absolute;
                top:1.5rem;
                right:4.5rem;
                font-size:3rem;
            }
            & > .mobile__nav__links {
                margin: 3rem 0;
            }
        }
    }

}