@import 'reset';
@import 'typography';
@import 'colors';
@import 'header';
@import 'footer';
@import 'banner_images';
@import 'contact_us';


.centered,
.centered-button {
    text-align:center;
    margin:0 auto;
}
.left {
    text-align:left;
}
//main styles go here..
.body--no-scroll {
    overflow:hidden;
    z-index:0;
    position: relative;
}

.banner__text {
    margin-bottom:0;
    text-align:center;
}
.first__section {min-height:110vh;}
section { 
    width: 100%;
    height:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:$white;
    .inner__copy {
        max-width:80rem;
        padding:0 2rem;
    }
}
.button {
    position:relative;
    display:inline-block;
    border:2px solid $black;
    background-color:transparent;
    color:$black;
    font-weight:bold;
    font-size:2rem;
    padding:1.5rem 2rem;
    border-radius:0;
    margin:1rem auto;
    text-align:center;
    text-transform:captialize;

    &:hover {
        cursor:pointer;
        background-color:$primary;
        color:$black;
    }
}
//Sponsor
.sponsors {
    width:100%;
    display:flex;
    flex-shrink:1;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    max-width:1200px;
    margin:0 auto;
    margin-top:-4rem;

    .sponsor img{
        width:400px;
        height:auto;
        object-fit:contain;
    }
}
//banner logo image {
    #banner__logo {
        opacity:1;
        transition:opacity 0.5s;
        -webkit-transition:opacity 0.5s;
        
    }
    #banner__logo.fadeOut{
        opacity:0;
        transition:opacity 1s;
        -webkit-transition:opacity 1s;
    }

//vimeo wrapper iframe settings 
.vimeo-wrapper {
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -2;
   pointer-events: none;
   overflow: hidden;
}
.z__01 {
    z-index: -1;
    opacity:1;
}
.vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
//FAQ section
.half__bottom__padding {
    padding-bottom:6rem;
}
.accordion {
    padding:5rem 0 10rem;

    & > .accordion__section {
        & > .faq-title {
            margin-bottom:2rem;
            text-align:left;
            &:hover {
            cursor:pointer;
            }
        }
        & > .hidden {
        display:none;
        opacity:0;
        }
    }
    & > .accordion__section.active {   
        & > .hidden {
            transition: all .25s ease-in-out;
            -moz-transition: all .25s ease-in-out;
            -webkit-transition: all .25s ease-in-out;
          display:block;
          opacity:1;
        }
    }
}
//two col flex section
.flex__div {
    display:flex;
    flex-direction:row;
    margin:12rem auto;
    max-width:1400px;
    justify-content: center;
    flex-wrap: nowrap;
    & > .text__col {
        align-items: center;
        width:60%;
        max-width:65rem;
        padding:3rem 6rem;
    }
}



@import 'media_queries';